$primary-color: #FFA900 !default;

$today-border-color: #e0e0e0 !default;
$clear-color: #D2D2D2 !default;

$bg-color: #FFF !default;
$separator-color: #F0F0F0 !default;

$weekday-color: #646464 !default;

$day-color: #616161 !default;
$holiday-color: #F32415 !default;

$btn-color: $primary-color !default;
